@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Red+Hat+Text:wght@400;700&display=swap");

:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
}

body {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: var(--very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-area {
  background-color: var(--dark-blue);
  padding: 3em;
}

.left_side {
  border-radius: 10px 100px 10px 10px;
}

#container {
}

@media screen and (max-width: 375px) {
  /*   #container {
    background: url("https://i.ibb.co/f4Hn5rW/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
  } */
}
@media screen and (min-width: 376px) {
  #container {
    /*     background: url("https://i.ibb.co/BGr0MGt/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: cover; */
  }
}

@media screen and (min-width: 375px) and (max-width: 1440px) {
  /* Estilos opcionais */
}

@media screen and (min-width: 1440px) {
  /* Estilos opcionais */
}
